<p>register-page works!</p>
<div class="flex flex-column">
  <span class="text-lg mb-4">Registro</span>
  <form>
    <label class="text-dark text-md-center mt-2">Usuario : </label>
    <input
      type="text"
      placeholder="Nombre del usuario"
      class="input-group-sm mt-3"
    />
    <br />
    <label class="text-dark text-md-center mt-2">Usuario : </label>
    <input type="text" placeholder="Nombre" class="input-group-sm mt-3" />
    <br />
    <label class="text-dark text-md-center mt-2">Contraseña: </label>
    <input
      type="password"
      plaveholder="Contraseña"
      class="input-group-sm mt-3"
    /><br />

    <button class="btn btn-outline-primary mt-2">Crear cuenta</button>
  </form>

  <div class="">
    <a routerLink="/auth/login">¿no tienes una cuenta?</a>
  </div>
</div>
