<footer class="footer">
  <nav class="nav-footer">
    <ul class="list-footer">
      <li class="apartado-li-footer">
        <a href="#" class="link-footer">Contact Us</a>
      </li>
      <li class="apartado-li-footer">
        <a href="#" class="link-footer">Contact Us</a>
      </li>
      <li class="apartado-li-footer">
        <a href="#" class="link-footer">Contact Us</a>
      </li>
      <li class="apartado-li-footer">
        <a href="#" class="link-footer">Contact Us</a>
      </li>
    </ul>
  </nav>
</footer>
