form {
  width: 40em;
}
/*
select {
  width: 2em;
}
#delete {
  width: 1em;
} */
#delete {
  width: 30%;
  float: right;
}
select {
  width: 70%;
  float: left;
}

#add {
  width: 6em;
  height: 3em;
}
