<div class="row justify-content-center">
  <h4 class="d-flex justify-content-center align-items-center">
    {{ accion }} Post
  </h4>

  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="border border-black"
  >
    <!--id-->

    <!--idUser-->
    <div class="form-group my-2">
      <label for="title">UserId</label>
      <input type="number" formControlName="userId" class="form-control" />
      <!---ERROR UserId-->
      <small *ngIf="checkError('userId')" class="form-text text-danger">{{
        obtenerError("userId")
      }}</small>
    </div>
    <!---->

    <!-----TITLE------>
    <div class="form-group my-2">
      <label for="title">Titulo</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Titulo"
        #formPost
      /><!---ERROR TITLE-->
      <small *ngIf="checkError('title')" class="form-text text-danger">{{
        obtenerError("title")
      }}</small>
    </div>

    <!---SELECT -->
    <div class="form-group my-2">
      <label for="select">¿Completado?</label>
      <select
        formControlName="completed"
        class="form-control"
        #formPost
        class="form-control form-control-sm"
      >
        <option value="">-</option>
        <option value="false">false</option>
        <option value="true">true</option>
      </select>
      <!---ERROR SELECT COMPLETE-->
      <small *ngIf="checkError('completed')" class="form-text text-danger">{{
        this.obtenerError("completed")
      }}</small>
    </div>

    <!--Boton submit-->
    <button type="submit" class="btn btn-primary">{{ accion }}</button>
  </form>
</div>
