<p>formulario-anidado2 works!</p>
<div class="d-flex justify-content-center align-items-center">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <!--NAME y Pasword-->
    <div class="form-group my-2">
      <label class="fw-bold">Name</label>

      <input
        type="text"
        class="form-control"
        id="namee"
        formControlName="name"
        placeholder="Your name"
      />
      <!--ERRORES Name-->
      <small *ngIf="checkInputError('name')" class="form-text text-danger">{{
        mostrarError("name")
      }}</small>
    </div>
    <!--=====================================-->
    <!--PASSWORD-->
    <div class="form-group my-2">
      <label class="fw-bold">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="pass"
        placeholder="Password"
      />

      <!--ERRORES Password-->
      <small
        *ngIf="checkInputError('password')"
        class="form-text text-danger"
        >{{ mostrarError("password") }}</small
      >
    </div>
    <div class="form-group my-2">
      <label class="fw-bold">Repeat Password</label>
      <input
        type="password"
        formControlName="passwordRepeat"
        class="form-control"
        id="pass2"
        placeholder="Repeat password"
      />
      <!--ERRORES repeat Password-->
      <small
        *ngIf="checkInputError('passwordRepeat')"
        class="form-text text-danger"
        >{{ mostrarError("passwordRepeat") }}</small
      >
    </div>

    <!--=====================================-->
    <!--=====================================-->
    <!---EMAIL Y HOBBIES-->
    <!--EMAIL-->
    <div class="form-group my-2">
      <label class="fw-bold">Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <!--ERRORES Email-->
      <small *ngIf="checkInputError('email')" class="form-text text-danger">{{
        mostrarError("email")
      }}</small>
    </div>
    <!--=====================================-->
    <!--HOBBIES-->
    <div
      class="form-group my-2"
      *ngIf="hobbies.length > 0"
      formArrayName="hobbies"
    >
      <div
        class="my-2"
        *ngFor="let control of hobbieForm.controls; let i = index"
      >
        <p><label class="fw-bold">Selecciona Hobbie</label></p>
        <select class="form-control" [formControlName]="i">
          <!-- *ngFor="let hob of myForm.controls['hobbies']; let id = index"-->
          <option value="">Selecciona un hobbie</option>
          <option *ngFor="let hobbie of hobbies" value="{{ hobbie }}">
            {{ hobbie }}
          </option>
          <!-- <option *ngFor="let hobbie of hobbies" value="{{ hobbie }}">
          {{ hobbie }}
        </option> -->
        </select>
        <!--Borrar-->
        <button
          id="delete + {{ i }}"
          (click)="onDeleteHobbie(i)"
          class="btn btn-danger"
        >
          Borrar
        </button>
      </div>

      <!---Añadir-->
      <button
        type="button"
        class="btn btn-outline-info my-3"
        (click)="onAddHobbie()"
      >
        Añadir Hobbie
      </button>

      <!--ERRORES Hobbie-->
      <small *ngIf="checkInputError('hobbie')" class="form-text text-danger">{{
        mostrarError("hobbie")
      }}</small>
    </div>
    <!----------------------------------------------------------------------->
    <!--===============================================-->
    <!------------Direccion-------------->

    <hr />
    <!---Todo el apartado de direccion-->

    <div class="form-group my-2" formArrayName="addressAll">
      <!--Englobo todo con el nombre del formArray-->
      <div *ngFor="let address of addresssForm.controls; let i = index">
        <!--Recorre los controles-->
        <div [formGroupName]="i">
          <!--Englobar todo, pasamos el indice del array. formGroupName-->
          <label class="fw-bold">Address</label>

          <!---ADDRESS-->
          <input
            type="text"
            class="form-control"
            id="address+{{ i }}"
            formControlName="address"
            placeholder="Your address"
          />
          <!--ERRORES Direccion-->
          <small
            *ngIf="checkInputError('address')"
            class="form-text text-danger"
            >{{ mostrarError("address") }}</small
          >
          <!----CIUDAD---------->
          <label class="fw-bold my-2">City</label>
          <input
            type="text"
            class="form-control"
            formControlName="city"
            id="city+{{ i }}"
            placeholder="Your city"
          />
          <!--ERRORES Direccion-->
          <!-- <small *ngIf="checkInputError('city')" class="form-text text-danger">{{
      mostrarError("city")
    }}</small> -->

          <!-------------CODIGO POSTAL----------->
          <label class="fw-bold my-2">Postal Code</label>
          <input
            type="number"
            class="form-control"
            id="code+{{ i }}"
            formControlName="code"
            placeholder="Your Postal code"
          />
          <!--ERRORES Direccion-->
          <small
            *ngIf="checkInputError('code')"
            class="form-text text-danger"
            >{{ mostrarError("code") }}</small
          >
          <!---BORRAR DIRECCION-->
          <button
            type="button"
            (click)="onDeleteAddress(i)"
            class="btn btn-danger"
          >
            Borrar direccion
          </button>
        </div>
      </div>

      <button type="button" (click)="onAddAddress()" class="btn btn-info mx-2">
        Direccion
      </button>
    </div>
    <hr />
    <!----------------------------------------------------------------------->
    <button type="submit" class="btn btn-primary">Submit</button
    ><button
      type="reset"
      (click)="onResetFormulario()"
      class="btn btn-danger mx-2"
    >
      Reset
    </button>
    <button
      type="reset"
      (click)="hobbieForm.clear(); botonPrueba = true"
      class="btn btn-danger mx-2"
    >
      Reset
    </button>
  </form>
</div>

<!--=============Boton Prueba=========-->
<div class="d-flex justify-content-center align-items-center">
  <!---Boton Prueba-->
  <button
    type="button"
    (click)="onRellenarForm()"
    class="btn btn-info my-3"
    *ngIf="botonPrueba"
  >
    Prueba
  </button>
</div>

<!--https://getbootstrap.com/docs/5.0/utilities/text/-->

<hr />
<!--vALORES-->
VALORES:
{{ myForm.value | json }}

<!--Comprobar validez-->
Validez:
{{ myForm.valid | json }}
<!--Va-->
<p></p>
Error:
{{ myForm.controls["password"].errors | json }}
{{ myForm.controls["passwordRepeat"].errors | json }}
{{ myForm.controls["passwordRepeat"].hasError | json }}
