<nav class="navbar">
  <h3 class="title-nav">{{ "SECTIONS" | translate }}</h3>
  <hr />

  <button mat-button [matMenuTriggerFor]="menu">
    {{ "MENU" | translate }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['houses']">Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-list role="list">
    <mat-list-item role="listitem">
      <a href="#" [routerLink]="['houses']" class="a-nav">{{
        "HOUSES" | translate
      }}</a></mat-list-item
    >
    <mat-list-item role="listitem">
      <a href="#" [routerLink]="['spells']" class="a-nav">{{
        "SPELLS" | translate
      }}</a></mat-list-item
    >
    <mat-list-item role="listitem"
      ><a href="#" [routerLink]="['characters']" class="a-nav">{{
        "CHARACTERS" | translate
      }}</a></mat-list-item
    >
    <mat-list-item role="listitem">
      <a href="#" [routerLink]="['books']" class="a-nav">{{
        "BOOKS" | translate
      }}</a></mat-list-item
    >
  </mat-list>
</nav>
