<!-- <div>
  <ul>
    <li><a [routerLink]="['posts']">Listas</a></li>
    <li><a [routerLink]="['posts/addPost']">Add</a></li>
    <li><a [routerLink]="['formAnid']">form</a></li>
    <li><a [routerLink]="['formAnid/validations']">Form Validaciones</a></li>
    <li>
      <a [routerLink]="['formAnid/segundoTipoform']">Formulario segundo</a>
    </li>
    <li><a [routerLink]="['formAnid/complete']">Form complete</a></li>
  </ul>
  <hr />
</div>

<router-outlet></router-outlet> -->
<div class="page">
  <app-home></app-home>
</div>
