/* .lugarFormulario {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
  background-color: rgb(155, 234, 238);
  border: 1px solid rgb(41, 66, 255);
  border-radius: 20px;
  padding: 30px;
} */
.formulario {
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  gap: 0px 30px;
  /* width: 500px; */
  text-align: center;
  height: auto;
}

.secciones-formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.apartado-form {
  margin-block: 10px;
  padding-block: 10px;
  flex-grow: 1;
  flex-basis: calc(30% - 10px);
}

.apartado-hobbie {
  justify-content: center;
}
.div-hobbie {
  padding-top: 10px;
  max-width: 400%;
}
/*Botones*/

/* .add-hobbies {
  background-color: aquamarine;
  max-height: 50px;
} */
/* 
.borrar {
  background-color: red;
}

.enviar {
  background-color: blue;
} */

/* .color-letra-boton {
  color: white;
} */

/* .grupo-final-boton {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
} */
/* .reset {
  background-color: orange;
}
.prueba {
  background-color: cadetblue;
} */

/* agregar borde rojo a los input que estén en estado inválido */
/* .ng-invalid :not(form) {
  border: 1px solid red;
} */
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

.apartado-hobbie {
  flex-grow: 1;
  flex-basis: 100%;
}
button {
  flex-grow: 1;
}

h6 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  margin: 5px;
}
