<header class="header">
  <nav class="navbar">
    <ul class="list-header">
      <li class="apartado-li-header">
        <a [routerLink]="['posts']" class="link-header">Listas</a>
      </li>
      <li class="apartado-li-header">
        <a [routerLink]="['posts/addPost']" class="link-header">Add</a>
      </li>
      <li class="apartado-li-header">
        <a [routerLink]="['formAnid']" class="link-header">form</a>
      </li>
      <li class="apartado-li-header">
        <a [routerLink]="['formAnid/validations']" class="link-header"
          >Form Validaciones</a
        >
      </li>
      <li class="apartado-li-header">
        <a [routerLink]="['formAnid/segundoTipoform']" class="link-header"
          >Formulario segundo</a
        >
      </li>
      <li class="apartado-li-header">
        <a [routerLink]="['formAnid/complete']" class="link-header"
          >Form complete</a
        >
      </li>
    </ul>
  </nav>
</header>
